.about{
    margin-top: 4rem;
    width: 100vw;
    height: 23rem;
    /* border: 2px solid red; */
}

.info{
    margin-top: 1rem;
    margin-left: 10rem;
    position: relative;
    z-index: 11;
}

.info h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.image{
    margin-right: 12rem;
    float: right;
    position: absolute;
    top: 95px;
    left: 42rem;
    z-index: 10;
    /* margin-bottom: 4rem; */
    bottom: 20px;
}